@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@media screen and (max-width:480px) {
    #header-img {
        display: none;
    }

    #nav-bar a {
        font-size: 10px;
        text-align: center;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

#header {
    background-color: lightcoral;
    overflow: hidden;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.logo {
    float: left;
    width: 40%;
    height: 100%;
}


#header-img {
    max-width: 400px;
    height: auto;
    padding-top: 10px
}

#nav-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
  }

  .signup {
    margin-top: 70px;
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
  }

  form {
    padding-top: 5px;  
    text-align: center;
    }

  input[type=email] {
    margin-top: 10px;
    width: 35%;
    border: 1px gray solid;
    height: 20px;
    justify-content: center;
}

input[type=submit] {
    padding:5px 15px; 
    background-color: lightcoral;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 20%;
    color: white;
}

#features {
    margin-top: 50px;
    padding-top: 20px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.feature-item {
    padding-top: 25px;
}

#video {
    display: block;
    margin: 40px auto;

}

#pricing {
    margin: 50px auto auto auto;
    padding-top: 50px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: center;

}
.pricing-item {
    height:auto;
    padding: 20px;
    margin: 20px;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: grey;
    text-align: center;
    color: white
}

.pricing-item h3 {
    background-color: black;
    width: 100%;

}

.select-button {
    background-color: goldenrod;
    width: 30%;
    margin: 0 auto;
}